@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url("/fonts/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), url("/fonts/OpenSans-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Open Sans Extra Bold'), url("/fonts/OpenSans-ExtraBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Open Sans Extra Bold Italic'), url("/fonts/OpenSans-ExtraBoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), url("/fonts/OpenSans-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans Light'), url("/fonts/OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 200;
  src: local('Open Sans Light Italic'), url("/fonts/OpenSans-LightItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), url("/fonts/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), url("/fonts/OpenSans-Semibold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), url("/fonts/OpenSans-SemiboldItalic.ttf") format('truetype');
}
@font-face {
  font-family 'FontAwesome' {
    src: url("/fonts/fontawesome-webfont.eot");
    src: url("/fonts/fontawesome-webfont.eot?#iefix") format('embedded-opentype'), src url("/fonts/fontawesome-webfont.woff2") format('woff2'), src url("/fonts/fontawesome-webfont.woff") format('woff'), src url("/fonts/fontawesome-webfont.ttf") format('truetype'), src url("/fonts/fontawesome-webfont.svg#ambleregular") format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
body {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}
.large,
h1,
h2,
h3,
h4,
.small,
small {
  line-height: 100%;
}
.large,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}
.large {
  font-size: 4.5rem;
  letter-spacing: -3px;
}
h1 {
  font-size: 3rem;
  letter-spacing: -2px;
}
h2 {
  font-size: 2.0000025rem;
  letter-spacing: -1px;
}
h3 {
  font-size: 1.7499975rem;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 1.5rem;
  letter-spacing: -0.25px;
}
h5 {
  font-size: 1.2500025rem;
}
.small,
small {
  font-size: 0.75rem;
}
.updated-time,
.panel-body {
  font-weight: 200;
}
.button {
  background-color: #41596b;
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  margin: 10px 0 0 0;
  opacity: 0.7;
  padding: 0 10px;
  text-transform: lowercase;
}
.button-blue {
  background-color: #59b5ff;
}
.button-nav {
  background-color: #545658;
  display: inline-block;
  padding: 5px 10px;
}
.button-nav:hover {
  background-color: #cbcbcb;
}
.button:hover {
  cursor: pointer;
  text-decoration: underline;
}
input[type='checkbox']:focus {
  outline: none;
}
html {
  color: #41596b;
  font-family: 'Open Sans', sans-serif;
  background: #f6f6f6 url("/img/gradient-blue.png") 0 0 repeat-x;
}
html * {
  max-width: 100%;
}
body {
  margin: 0;
}
ul,
nav {
  list-style: none;
}
.navbar-nav a {
  padding: 12px;
  text-transform: uppercase;
}
.header-nav li {
  display: inline-block;
}
a {
  color: #41596b;
  font-size: 0.8125rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.badge {
  background-color: #41596b;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
  min-width: 10px;
  padding: 2px 5px 3px 4px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
}
.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.filters ul {
  margin: auto;
  padding: 0;
  padding-left: 9.5%;
}
.filters li {
  min-width: 114px;
  width: 50%;
  padding: 0;
  text-transform: capitalize;
}
.filters-mobile {
  display: none;
}
.label {
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding: 1px 5px;
  font-size: 12px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.main {
  margin: auto;
  max-width: 940px;
}
.navbar-nav a:hover {
  cursor: pointer;
}
.page-title,
.page-title-sm {
  padding-left: 3rem;
}
.panel {
  word-wrap: break-word;
}
.repo-header:hover {
  cursor: pointer;
}
.sidebar .navbar-nav {
  border-bottom: 1px dotted rgba(65,89,107,0.15);
}
.user-avatar {
  max-width: 100%;
}
@media all and (min-width: 200px) {
  .container-fluid {
    padding: 0;
  }
  .filters {
    font-size: 0.75rem;
  }
  .filters-mobile {
    display: block;
  }
  .sidebar {
    display: none;
  }
  h5 {
    margin: 1rem auto;
  }
  .issue-body {
    width: 95%;
  }
  .page-title {
    display: none;
  }
  .page-title-sm {
    display: block;
  }
  .row {
    margin-left: 0;
  }
}
@media all and (min-width: 480px) {
  .navbar-toggle {
    display: none;
  }
  .header-nav {
    display: block !important;
  }
  .navbar-nav {
    margin-top: 0;
    padding: 0;
  }
  .header-nav .navbar-nav {
    max-width: 70%;
    text-align: right;
  }
  .header-nav .navbar-nav li {
    display: inline-block;
    padding: 6px 3px;
  }
}
@media all and (min-width: 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .filters-mobile {
    display: none;
  }
  .sidebar {
    display: block;
    float: left;
    margin-top: 6rem;
    max-width: 250px;
    padding: 0;
    padding-left: 5%;
    position: fixed;
    width: 25%;
  }
  .main {
    margin-left: 25%;
    padding: 0;
    width: 75%;
  }
  .navbar-nav li {
    padding: 12px;
  }
  .page-title {
    display: block;
    padding-left: 0;
  }
  .page-title-sm {
    display: none;
  }
  .row {
    margin-left: -15px;
  }
}
@media all and (min-width: 992px) {
  .filters {
    font-size: 0.875rem;
  }
  .filters li {
    width: 75%;
  }
}
