.btn-info {
  background-color: #128bb6;
  border-color: #0d6888; }

h5 {
  margin: auto; }

label {
  font-weight: normal; }

.navbar-nav {
  margin: auto; }

.navbar-nav > li > a {
  padding-top: .3rem;
  padding-bottom: .3rem;
  padding-left: 3rem; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent; }

/* Typography */
.badge {
  font-size: .55rem; }

body {
  font-size: .75rem; }

.page-title {
  font-size: .9rem; }

.uncheck-filters .btn-sm {
  font-size: .8rem; }

filter-list {
  font-size: .85rem; }

.repo-title {
  font-size: .85rem; }

.updated-time {
  font-size: .8rem; }

/* Header & Navigation */
nav {
  background-color: #ebf3f5; }

.navbar {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  padding: 0;
  width: 100%; }

.navbar-header {
  width: 100%;
  background: #0d6888;
  height: 2.4rem;
  text-align: left; }

.navbar-nav li {
  margin-bottom: 0;
  padding-bottom: .25rem; }

.navbar-nav li:hover {
  background: #cadde4; }

.navbar-toggle {
  float: right;
  margin: 2px 2px auto auto; }

.page-title {
  color: #fff;
  float: left;
  padding: .5rem 0 0 .4rem; }

.uncheck-filters .btn-sm {
  padding: .25rem; }

/* Sidebar */
/* Body */
a {
  color: #128bb6; }

hr {
  border-top: 1px solid #cecfd1;
  margin-top: 5px;
  margin-bottom: 3px;
  width: 90%; }

.badge {
  background-color: #0d6888; }

img.user-avatar {
  max-width: 100%; }

.panel {
  word-wrap: break-word; }

.filter-list {
  margin: 0;
  padding-top: 5px; }

.filter-list .list-item {
  height: 1.2rem; }

.filter-list .list-title {
  display: none; }

.filters {
  border-top: 1px solid #0d6888; }

.github-repository {
  margin: 1rem auto; }

.label {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  margin-right: 2px; }

.issues-list {
  margin-top: 1rem; }

.panel-footer {
  background-color: #ebf3f5; }

.repo-header:hover {
  cursor: pointer; }

.repo-link {
  float: right; }

.uncheck-filters {
  display: none; }

/* Media Queries */
@media (min-width: 480px) {
  body {
    font-size: .85rem; }

  .filter-list {
    max-width: 500px;
    margin: auto; }

  .filter-list li.assignee,
  .filter-list li.pull-requests {
    margin-left: 8.33333%;
    width: 41.66667%; }

  .filter-list li.labels {
    float: left;
    margin-left: 4.1666665%;
    margin-top: .2rem;
    margin-bottom: .4rem;
    width: 29.166667%; }

  .filter-list .list-title {
    display: block;
    font-size: 1rem;
    margin: .6rem auto .2rem 2rem; }

  .navbar-nav {
    font-size: .9rem;
    max-width: 400px; }

  .page-title {
    font-size: 1.2rem; }

  .repo-title {
    font-size: 1.1rem; }

  .uncheck-filters {
    display: block; }

  .uncheck-filters.assignee {
    padding: 0; }

  .updated-time {
    font-size: .85rem; } }
@media (min-width: 768px) {
  .container {
    margin-left: 25%;
    margin-top: 3rem; }

  .filter-list li.assignee,
  .filter-list li.labels,
  .filter-list li.pull-requests {
    margin: .2rem;
    max-width: 100%;
    padding: 1rem;
    width: 100%; }

  .filter-list li.list-title {
    padding-left: 1rem;
    margin: auto; }

  .filter-list li:nth-child(3),
  .filter-list li:nth-child(6) {
    margin-bottom: 1rem; }

  .filters {
    border: none; }

  .navbar {
    width: 25%;
    float: left;
    position: fixed;
    z-index: 200;
    margin-top: 2.4rem;
    height: 1000; }

  .navbar-header {
    position: fixed;
    z-index: 1000; }

  .navbar-nav {
    padding-bottom: 1rem;
    border-bottom: 1px solid #0d6888;
    margin-bottom: 1rem;
    max-width: 100%; }

  .navbar-nav li {
    margin-top: 1rem;
    width: 100%; }

  .navbar-nav > li > a {
    padding-left: 1rem; }

  .navbar-toggle {
    display: none; }

  navigation-menu {
    display: block !important; }

  .uncheck-filters {
    margin-top: 1rem; } }

/*# sourceMappingURL=style.css.map */
