@import 'colors';

/* Body */

a {
    color: darken($mobile-blue, 10%);
}

hr {
    border-top: 1px solid lighten($charcoal, 50%);
    display: inline-block;
    margin: 5px 5% 3px 5%;
    max-width: 90%;
    width: 100%;
    
}

.badge {
    background-color: darken($mobile-blue, 20%);
}

img.user-avatar {
    max-width: 100%;
}

.panel {
    word-wrap: break-word;
}

.filter-list {
    margin: 0;
    padding-top: 5px;
}

.filter-list .list-item {
    height: 1.2rem;
}

.filter-list .list-title {
    display: none;
}

.filters {
    border-top: 1px solid darken($mobile-blue, 20%);
}

.github-repository {
    margin: 1rem auto;
}

.label {
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    margin-right: 2px;
}

.issues-list {
    margin-top: 1rem;
}

.panel-footer {
    background-color: lighten(desaturate($mobile-blue, 50%), 45%);
}

.repo-header:hover {
    cursor: pointer;
}

.repo-link {
    float: right;
}

.uncheck-filters {
    display: none;
}
