@import 'colors';

/* Header & Navigation */

nav {
    background-color: lighten(desaturate($mobile-blue, 50%), 45%);
}

.navbar {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    padding: 0;
    padding-bottom: .8rem;
    width: 100%;
}

.navbar-header {
    width: 100%;
    background: darken($mobile-blue, 20%);
    height: 2.4rem;
    text-align: left;
}

.navbar-nav li {
    margin-bottom: 0;
    padding-bottom: .25rem;
}

.navbar-nav li:hover {
    background: lighten(desaturate($mobile-blue, 50%), 35%);
}

.navbar-toggle {
    float: right;
    margin: 2px 2px auto auto;
}

.page-title {
    color: $white;
    float: left;
    padding: .5rem 0 0 .4rem;
}

.uncheck-filters .btn-sm {
    padding: .25rem;
}
