/* Typography */

.badge {
    font-size: 0.55rem;
}

body {
    font-size: 0.75rem;
}

.page-title {
    font-size: 0.9rem;
}

.uncheck-filters .btn-sm {
    font-size: 0.8rem;
}

filter-list {
    font-size: 0.8rem;
}

.repo-title {
    font-size: 0.85rem;
}

.updated-time {
    font-size: 0.8rem;
}
