/* Typography */

.badge {
    font-size: .55rem;
}

body {
    font-size: .75rem;
}

.page-title {
    font-size: .9rem;
}

.uncheck-filters .btn-sm {
    font-size: .8rem;
}

filter-list {
    font-size: .85rem;
}

.repo-title {
    font-size: .85rem;
}

.updated-time {
    font-size: .8rem;
}
