@import 'colors'
/* Buttons */
.button 
  background-color #41596b
  border none
  border-radius 5px
  -moz-border-radius 5px
  color #fff
  display block
  font-family 'Open Sans', sans-serif
  font-size 0.75rem
  margin 10px 0 0 0
  opacity 0.7
  padding 0 10px
  text-transform lowercase

.button-blue 
  background-color #59b5ff

.button-nav 
  background-color #545658
  display inline-block
  padding 5px 10px

.button-nav:hover 
  background-color #cbcbcb

.button:hover 
  cursor pointer
  text-decoration underline
