@import 'fonts'
/* Typography */

base = .875rem
small = .75rem

body 
  font-size base
  font-weight 400
  line-height 20px

.large,
h1,
h2,
h3,
h4,
.small,
small 
  line-height 100%

.large,
h1,
h2,
h3,
h4,
h5,
h6 
  font-weight 200
  text-shadow 0 1px 0 rgba(255,255,255,0.75)

.large 
  font-size small * 6
  letter-spacing -3px

h1 
  font-size small * 4
  letter-spacing -2px

h2 
  font-size small * 2.66667
  letter-spacing -1px

h3 
  font-size small * 2.33333
  letter-spacing -0.5px

h4 
  font-size small * 2
  letter-spacing -0.25px

h5 
  font-size small * 1.66667

.small,
small 
  font-size small

.updated-time,
.panel-body 
  font-weight 200
