<div id='filters' class='filters'>
    <ul class='list-unstyled filter-list'>
        <li class='list-item col-xs-1 pull-requests' ng-repeat='item in pullrequests'>
            <label>
                <input type='checkbox' name='{{ item.name }}' ng-model='item.selected' ng-click='toggleCheckbox($index)' />
                {{ item.name }}
            </label>
        </li>
        <li class='list-item col-xs-1 assignee' ng-repeat='item in assigned'>
            <label>
                <input type='checkbox' name='{{ item.name }}' ng-model='item.selected' />
                {{ item.name }}
            </label>
        </li>
        <li class='list-item col-xs-1 labels' ng-repeat='item in selectedLabels'>
            <label>
                <input type='checkbox' name='{{ item.name }}' ng-model='item.selected' />
                {{ item.name }}
            </label>
        </li>
        <li class='uncheck-filters text-right col-xs-12'>
            <button class='button button-blue' ng-click='uncheckAll(selectedLabels)'>Uncheck All</button>
        </li>
    </ul>
</div><!-- #filters -->
