<div class='github-repository' ng-if='(repo.issues | hasAssignee: assigned | labels: selectedLabels | pullRequests: pullrequests).length > 0'>
    <span>
        <h5 id='{{ repo.owner }}/{{ repo.name }}' class='repo-title'>
            <span class='repo-header' ng-click='repo.state = !repo.state'>
                <span ng-if='!repo.state' class='toggle-repo fa fa-caret-down' aria-hidden='true'></span>
                <span ng-if='repo.state' class='toggle-repo fa fa-caret-right' aria-hidden='true'></span>
                <span>{{ repo.owner }}/{{ repo.name }}</span>
                <span class='badge' title='issue count'>
                    {{ (repo.issues | hasAssignee: assigned | labels: selectedLabels | pullRequests: pullrequests).length }}
                </span>
            </span>
            <a ng-href='https://github.com/{{ repo.owner }}/{{ repo.name }}'><i class='fa fa-github-alt repo-link' aria-hidden='true'></i></a>
        </h5>
    </span>

    <div class='issues-list' ng-hide='repo.state' class='repo-issues-container'>
        <github-issue ng-repeat='issue in repo.issues | hasAssignee: assigned | labels: selectedLabels | pullRequests: pullrequests'>
            {{ issue }}
        </github-issue>
    </div><!-- .repo-issues-container -->
</div>
