/* Screens > 200px */

@media all and (min-width 200px) 
  .container-fluid 
    padding 0
  
  .filters 
    font-size 0.75rem
  
  .filters-mobile 
    display block
  
  .sidebar 
    display none
  
  h5 
    margin 1rem auto
  
  .issue-body 
    width 95%
  
  .page-title 
    display none
  
  .page-title-sm 
    display block
  
  .row 
    margin-left 0
  
