/* Screens > 480px */

@media all and (min-width 480px) 
  .navbar-toggle 
    display none

  .header-nav 
    display block !important

  .navbar-nav
    margin-top 0
    padding 0
    
  .header-nav .navbar-nav 
    max-width 70%
    text-align right

  .header-nav .navbar-nav li 
    display inline-block
    padding 6px 3px
