/* Screens > 768px */

@media all and (min-width 768px) 
  .container-fluid 
    padding-left 15px
    padding-right 15px
  
  .filters-mobile 
    display none
  
  .sidebar 
    display block
    float left
    margin-top 6rem
    max-width 250px
    padding 0
    padding-left 5%
    position fixed
    width 25%
  
  .main 
    margin-left 25%
    padding 0
    width 75%
  
  .navbar-nav li 
    padding 12px
  
  .page-title 
    display block
    padding-left 0
  
  .page-title-sm 
    display none
  
  .row 
    margin-left -15px
